@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%; } }
    
    .carousel-multi-item-2 .card img {
    border-radius: 2px; }

    .fa-angle-right{
        color: #638755;
    }
    .fa-angle-left{
        color: #638755;
    }
    button{
        background: none;
        border: none;
    }


    @media (max-width: 716px) { 
       .esconde, .barra, .pontos{
            display: none;
        }

        hr{
            width:64%;
        }
     }


     @media (min-width: 992px) and (max-width: 1920.98px) { 
         .barra{
             top: 105% !important;
         }
     }