*{  
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    color: #FFF;  

}
html, body {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    height: 75vh;
    width: 100%;
    background-size: cover;
    display: table;
    background-position: center center;
    background-image: url('img/fundo-header.png');
    font-size: 1em;
    
}

header .container .row ul{
    color: white;
    list-style: none;
}

header .container .row li{
    display: inline;
}
header .container nav ul li a{
    padding: 2px 10px;
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    margin:20px;
}

#logo{
    margin: 27px;
}

.logo-casa{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.goomer{
    padding-top:5%;
}

.goomer a:link{
    text-decoration: none;
}

.sociais{
    margin-top: 8%;
    margin-left: 5%;
}

.fonte-site{
   font-size: 370%;
   font-family: 'Nunito', sans-serif; ;
}

.icone{
   width: 100px;
   height: auto;
    
}
.barra{
    position: absolute;
    top:83%;
}
.pontos{
   
    text-align: right;
}

.teste{
    padding-top:2%;
    padding-bottom: 2%;
}
.yellow{
    color:#FFCC5A;
    
}
.espaco{
    margin-top: 2%;
}

.espaco-cardapio{
    margin-top: 10%;
    margin-bottom: 10%;
}
.espaco-span{
    margin-top:8%;
}
#cardapio{
    margin-top:1%;
}
#cardapaio a{
    padding-left:5px;
    padding-right: 5px;
}
.imagem-background{
    background-image: url('img/imagem3.png');
    background-repeat: no-repeat;
    background-position: right 28px top;
}

#cardapio a:hover{
    color:#638755;
    font-weight: bold;
}

.espaco-rodape{
    padding: 2%;
}
.espaco-galeria{
    padding-bottom: 4%;
}

strong.verde{
    color:#638755;
    
}
#cubo{
    width: 100%;
    height: 65%;
    background-color: #638755;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.desce{
    margin-top: 5%;
}

.retangulo{
   height: 30%;
   background-color: #638755;
   border-radius: 25px;
   margin-top:5%;
   padding: 15px 10px;
   position: relative;
}

#barra-vegan{
    background-color: #638755;
    width:100%;
    height: 345px;
}
span{
    display: block;
}
.icone-teste{
    position:absolute;
    top:8%;
    left:87%;
}

footer{
    width:100%;
    height: auto;
    background-color: #638755;
}
h3{
    font-family: "Nunito bold";
    color:#638755;
    font-size: 24px;
    padding-top:30%;
    padding-right: 10%;
    text-align: left;

}
.icone-seta{
    font-size: 80%;
    color:#638755;
    padding-left: 3%;
}

.txt-principal{
    font-size: 16px;
    color:#737373;
    padding-top: 5%;
    padding-right: 20%;
}
.txt-secundario{
    font-size: 16px;
    color:#737373;
    padding-right: 15%;
}
.txt-verde{
    color:#638755;
}

#quemsomos a:link{
    text-decoration: none;
}

.txt-branco{
    color: #FFF;
}

.cinza{
    color: #737373;
    font-weight: bold;
}

.imagem-front{
    margin-bottom:15%;
}

.card{
    background-color: #638755;
    height: auto;
    margin-top: 2%;
}
.galeria-fotos{
    color: #638755;
    font-size: 200%;
    padding-top: 2%;
    
}

figure{
    margin-top: 15%;
}
#galeria{
background-color: #FFF5E4;
margin-top: 4%;

}

h2{
   color:#FFCC5A;
   text-align: center;
   padding-top: 10%;
}

h5{
    color: #717171;
    font-weight: bold;
    font-size: medium;
}

hr{
    width: 40%;
    background-color: #638755;
    box-align: left;
    border-top-width: 3px;
    margin-top: 0;
    margin-right: 61%;
}
.menu-secundario{
    color: #717171;
    padding: 30px;
}
p{
    color:#717171;
}

.sociais-rodape{
    margin-top: 25%;
    margin-left: 5%;
}

.casa-rodape{
    margin-top: 2%;
}
.bemvindo-rodape{
    padding: 5% 28%;
    
}
.icone-rodape{
    padding: 1% 0%;
}

.faq {
    margin: 20px;
    display: none; /* coloca todos como invisiveis inicialmente */
  }


  