*{  
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    color: #FFF;  

}
html, body{
    margin: 0;
    padding: 0;
}

header{
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: table;
    background-position: center center;
    background-image: url('img/fundo-header.png');
    font-size: 1em;
    position: relative;
}

header .container .row ul{
    color: white;
    list-style: none;
}

header .container .row li{
    display: inline;
}
header .container nav ul li a{
    padding: 2px 10px;
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    margin:20px;
}

#logo{
    margin: 27px;
}

.logo-casa{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sociais{
    margin-top: 8%;
    margin-left: 5%;
}

.fonte-site{
   font-size: 370%;
   font-family: 'Nunito', sans-serif; ;
}

.icone{
   width: 100px;
   height: auto;
    
}

.teste{
    padding-top:2%;
    padding-bottom: 2%;
}
.yellow{
    color:#FFCC5A;
}
.espaco{
    margin-top: 2%;
}
.espaco-span{
    margin-top:8%;
}
#cubo{
    width: 100%;
    height: auto;
    background-color: #638755;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.retangulo{
   height: 30%;
   background-color: #638755;
   border-radius: 25px;
   margin-top:5%;
   padding: 15px 10px;
}

#barra-vegan{
    background-color: #638755;
    width:100%;
    height: 345px;
}
span{
    display: block;
}

footer{
    width:100%;
    height: auto;
    background-color: #638755;
}
h3{
    font-family: "Nunito bold";
    color:#638755;
    font-size: 24px;
    padding-top:30%;
    padding-right: 10%;
    text-align: left;

}

.txt-principal{
    font-size: 16px;
    color:#737373;
    padding-top: 5%;
    padding-right: 20%;
}
.txt-secundario{
    font-size: 16px;
    color:#737373;
    padding-right: 15%;
}
.txt-verde{
    color:#638755;
}

.cinza{
    color: #737373;
    font-weight: bold;
}

.imagem-front{
    margin-bottom:15%;
}

.card{
    background-color: #638755;
    height: 20%;
}

figure{
    margin-top: 15%;
}
#galeria{
background-color: #FFF5E4;
}
button{
    background: none;
    border:none;
}

h2{
   color:#FFCC5A;
   text-align: center;
   padding-top: 10%;
}

hr{
    widows: 10px;
}
.menu-secundario{
    color: #717171;
}

.sociais-rodape{
    margin-top: 25%;
    margin-left: 5%;
}

.casa-rodape{
    margin-top: 5%;
}
.bemvindo-rodape{
    padding: 5% 29%;
    
}